[alias]
	co = checkout
	ci = commit
	up = pull -v
	st = status -sb
	stat = status
	br = branch
	df = diff
	unstage = reset HEAD
	alias = !git config -l | grep alias | cut -c 7-
	pa = !git push --all && git pull --all
	ll = log --pretty=format:'%C(red)%h%Creset%C(blue)%d %C(green)%an%Creset - %s %C(blue)(%cr)%Creset' --graph --date=relative
	svnupdate = !git svn fetch && git svn rebase
	svncommit = !git svn dcommit
	discard = "!git checkout -- "
	visual = !gitk
[user]
	name = flobee
