# dbs backup, restore dummy/ demo config
MYSQL_USER='adminuser'
MYSQL_PASS='adminpass'
MYSQL_PORT='3306'
MYSQL_HOST='localhost'
#MYSQL_SOCK=''
#
# backup options
OUTDIR=/path/to/store/databases/localhost

# restore options
#
# restore databases from this directory
RST_OPT_DIR=''; #eg: /path/to/get/master/databases
#
# Drop each database befor restoring it (true|false), set to true if exists
RST_OPT_DROP=false
