.xmodmap.status-initially.de.bak
.xmodmap.status-initially.gb.bak
.xmodmap.status-initially.gb4de.bak
.xmodmap.status.de.after
.xmodmap.status.de.befor
.xmodmap.status.gb.after
.xmodmap.status.gb.befor
.xmodmap.status.gb4de.after
.xmodmap.status.gb4de.befor
.xmodmap.gb4de.cfg.kate-swp
.xmodmap.status-initially.de4gb.bak
.xmodmap.status.de4gb.after
.xmodmap.status.de4gb.befor
.xmodmap.status-initially.deAgb.bak
.xmodmap.status.deAgb.after
.xmodmap.status.deAgb.befor
