[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=black_sum
MimeType=application/octet-stream;inode/directory;
Actions=2mp4comp21batch;2mp4comp28batch;ts2mpg;ts2mpgb;imgresize800;imgresize1600;imgresize1920;media2flacComp8;media2flacComp8batch;
Encoding=UTF-8
#X-KDE-Submenu=Compress and Resize

[Desktop Action 2mp4comp21batch]
Name=mpg2mp4.sh -c 21 -b
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/mpg2mp4.sh -c 28 -f "%f" -b; fi)

[Desktop Action 2mp4comp28batch]
Name=mpg2mp4.sh -c 28 -b
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/mpg2mp4.sh -c 28 -f "%f" -b; fi)
#Exec=(kdialog --title "info" --msgbox "Path:%D\n~/scripts/mpg2mp4.sh -c 28 -f "%f" -b")

[Desktop Action ts2mpg]
Name=ts2mpg.sh %f (direct)
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/ts2mpg.sh "%f"; fi)

[Desktop Action ts2mpgb]
Name=ts2mpg.sh %f -b
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/ts2mpg.sh "%f" -b; fi)

[Desktop Action imgresize800]
Name=convert %f -resize "800"
Icon=black_sum
#Exec=(kdialog --title "x info" --msgbox "%D/x800_`basename %f`")
Exec=(if [ -f "%f" ]; then convert "%f" -resize "800" "%D/x800_`basename %f`"; fi)

[Desktop Action imgresize1600]
Name=convert %f -resize "1600"
Icon=black_sum
Exec=(if [ -f "%f" ]; then convert "%f" -resize "1600" "%D/x1600_`basename %f`"; fi)

[Desktop Action imgresize1920]
Name=convert %f -resize "1920"
Icon=black_sum
Exec=(if [ -f "%f" ]; then convert "%f" -resize "1920" "%D/x1920_`basename %f`"; fi)
[Desktop Action media2flacComp8]
Name=media2flac.sh -c 8 (direct)
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/media2flac.sh -c 8 -f "%f"; fi)

[Desktop Action media2flacComp8batch]
Name=media2flac.sh -c 8 -b
Icon=black_sum
Exec=(if [ -f "%f" ]; then ~/scripts/media2flac.sh -c 8 -f "%f" -b; fi)



